@import 'fonts.scss';

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
    margin:0;
    padding:0;
    min-height: 2000px;
}

.max-width-1920 {
    max-width: 1920px;
}

.max-width-1440 {
    max-width:1440px;
}

.go-top {
	position:fixed;
	right:20px;
	bottom:-100px;
	width:50px;
	height:50px;
	border-radius: 50%;
	box-shadow:0px 0px 3px #1c1c1c;
	background-color:rgba(255, 255, 255, 0.452);
	transition:250ms;
    cursor: pointer;
	
	i {
		margin-left:9px;
		font-size:30px;
		color:#005eda;
	}
}

//HEADER
header {
    height:115px;
    padding:10px 10px;
    background-color:#002a61;
    position:absolute;
    width:100%;
    z-index:10;
    transition:200ms;

    a {
        text-decoration: none;
    }

    img {
        height:100px;
    }

    button {
        float:right;
        border:none;
        border-radius:7px;
        color:#002a61;
        font-family:"Roboto Condensed";
        padding:10px 40px;
        margin-top: 25px;
        background-color:rgb(255, 255, 255);
    }
}

//NAV
nav {
    padding-top:55px;
    background-color:#002a61;
    position: relative;

    .col-6:nth-child(1) {
        padding-top:220px;
        padding-left:50px;

        h1 {
            text-transform: uppercase;
            font-family:"Bebas Neue";
            color:rgb(228, 228, 228);
            font-size:110px;
            
        }

        p {
            font-family:$an;
            color:rgb(218, 218, 218);
            font-size:30px;
            letter-spacing:1.2px;
        }
    }

    .col-6:nth-child(2) {
        position: relative;
        padding-top:0px;

        .blob {
            position: absolute;
            z-index:1;
            width:750px;
            right:120px;
        }

        img {
            position: relative;
            width:85%;
            display: block;
            margin:0 auto;
            z-index:2;
        }
    }

    .scroll-down-header {
        margin-top:-20px;

        .down-arrow-container {
            cursor:pointer;
            min-width:60px;
            min-height:60px;
            max-width:60px;
            max-height:60px;
            position: relative;
            background-color: rgba(255, 255, 255, 0.075);
            display: table;
            margin:0 auto;
            border-radius: 100%;
            z-index:2;
            transition:200ms;

            &:hover {
                background-color: rgba(255, 255, 255, 0.12);

                i {
                    animation: trigger 200ms linear !important;
                }
            }

            i {
                position: absolute;
                font-size:50px;
                color:rgb(255, 255, 255);
                width:50px;
                left:0;
                right:0;
                top:-5px;
                margin:auto;
            }
        }
    }

    .nav-wave {
        height:400px;
        position: absolute;
        bottom:-400px;
        width:100%;
    }
}

main {
    padding-top:500px;
    position:relative;

    .features {
        margin-bottom:-100px;
        position: relative;

        .features-blob {
            position: absolute;
            top:-100px;
            width:100%;
            z-index: -1;
        }
        
        h2 {
            text-align: center;
            margin-bottom:50px;
            font-family:$s;
            color:#002658;
            font-size:60px;
        }

        > .row {
            margin-bottom:100px;

            > .col-7 {
                background-color:#06336e;
                color:white;
                box-shadow: 13px 13px 0px 3px #06336e85;
                padding:30px;

                h3 {
                    font-family:"Oswald";
                    font-size:40px;
                }
                
                p {
                    font-family:"Open Sans";
                    font-size:18px;
                }
            }
        }
    }

    .vision {
        padding: 0;

        svg {
            padding:0;
        }

        .vision-headings {
            background-color:#1c1c1c;

            h2 {
                text-align: center;
                margin-bottom:0;
                color:white;
                font-family:"Bebas Neue";
                font-size:50px;
            }
    
            h3 {
                text-align:center;
                font-family:"Bebas Neue";
                color:rgb(182, 182, 182);
                margin-bottom:100px;
            }
        }

        .vision-content {
            min-height:400px;
            background-color:#1c1c1c;

            h4 {
                color:rgb(0, 91, 238);
                font-family:"Roboto Condensed";
                font-size:30px;
            }

            p {
                margin-bottom:40px;
                color:rgb(216, 216, 216);
                font-family:"Open Sans";
                font-size:20px;
            }

            img {
                display: block;
                margin:0 auto;
            }

            > div {
                padding:0;
            }
        }
    }

    .benefits {
        margin-bottom:100px;

        h2 {
            text-align:center;
            color:#0c82c7;
            margin-bottom:30px;
            font-size:50px;
            font-family:"Teko";

            span {
                font-weight:500;
            }
        }

        h3 {
            font-family:"Roboto Condensed";
            text-align: center;

            i {
                color:rgb(4, 172, 4);
            }
        }
    }

    .how-it-works-waves {
        position: absolute;
        z-index:-1;
        max-width:1920px;
        margin-left:auto;
        margin-right:auto;
        left:0;
        right:0;
    }

    .how-it-works-waves {
        position: absolute;
        width:100%;
    }

    .how-it-works {
        background-color:#1f4792;
        padding-top:50px;
        min-height:600px;
        position: relative;

        h2 {
            text-align:center;
            font-family:"Bebas Neue";
            color:rgb(243, 243, 243);
            font-size:40px;
        }

        h3 {
            text-align:center;
            font-family:"Bebas Neue";
            color:rgb(216, 216, 216);
        }

        p {
            margin-top:30px;
            color:rgb(226, 226, 226);
            font-family: "Roboto";
            font-size:19px;

            &:nth-child(1) {
                margin-top:80px;
            }
        }
    }

    .getting-started {
        margin-top:100px;
        margin-bottom:100px;

        .col-4 {
            min-height:300px;
            padding:30px;

            > div {
                background-color:#1266c5;
                padding:20px 40px 40px 20px;
                color:white;
                height: 100%;
                position:relative;
                border-radius: 12px;
                box-shadow: 6px 6px 5px 0px rgba(179,179,179,1);

                &:hover {
                    box-shadow: 6px 6px 5px 0px rgb(136, 136, 136);
                }
            }

            .num {
                border:1px solid rgb(0, 132, 255);
                width:50px;
                height:50px;
                border-radius: 50%;
                display: block;
                margin:0 auto 20px auto;

                h1 {
                    text-align: center;
                }
            }

            h2 {
                text-align: center;
                margin-bottom:50px;
                font-family:$s;
            }

            p {
                text-align:center;
            }

            a {
                button {
                    position: absolute;
                    bottom:10px;
                    margin-left:auto;
                    margin-right:auto;
                    left:0;
                    right:0;
                    color:rgb(0, 132, 255);
                    background-color:white;
                    border:none;
                    border-radius:6px;
                    font-family:"Roboto Condensed";
                    font-size:21px;
                    width:80%;
                    transition:300ms;
                    
                    &:hover {
                        color:rgb(2, 47, 144);
                    }
                }
            }
        }
    }

    .faq {
        padding-top:30px;
        background-color:#1c1c1c;

        h2 {
            color:white;
            font-family:$s;
            font-size:50px;
            text-align:center;
            margin-bottom:70px;
        }

        h3 {
            font-family:"Bebas Neue";
            text-transform: uppercase;
            font-size:35px;
            color:aliceblue;
        }

        p {
            color:rgb(200, 200, 200);
            font-family:"Roboto";
            font-size:20px;
        }

        .left-container {
            text-align: left;
            margin-bottom:60px;
        }

        .right-container {
            margin-bottom:60px;
        }

        .col-9 {
            border-radius: 12px;
            padding:30px 30px;
            background-color:rgba(255, 255, 255, 0.068)
        }

        a {
            color:white;
        }
    }

    margin-bottom:auto;
}

footer {
    padding:20px 0 0 0;
    color:whitesmoke;
    background-color:#131313;

    img {
        width:60px;
        display: inline-block;
    }

    h3 {
        display: inline-block;
        vertical-align: sub;
        color:white;
        font-family:"Roboto Condensed";
    }

    a {
        margin-right:30px;
        line-height:50px;
        color:rgb(200, 200, 200);

        &:hover {
            color:white;
        }
    }

    p {
        text-align: center;
        color:rgb(189, 189, 189);
    }

    .row:last-child {
        margin-top:20px;
        padding-top:10px;
        border-top:2px solid rgba(128, 128, 128, 0.377);
    }
}

@keyframes trigger {
    0% {
        margin-top:-3px;
    }
    33% {
        margin-top:0;
    }
    66% {
        margin-top:3px;
    }
    100% {
        margin-top:0;
    }
}

//* {border:1px solid red;}